{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'cursos/css/style-register.css' %}">
    </head>
    <body>
        <div class="oneColeDiv">
            <form name="input" action="register.jsp" method="post">
                <h1>Enter into your account</h1><br/>
                    <table>
                        <tr>
                            <td>Username:</td>
                            <td><input type="text" name="username" value=""/></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type="password" name="password1"/></td>
                        </tr>
                            <td><input type="submit" value="Login"/></td>
                        </tr>
                    </table>
            </form>
    </body>
</html>